@import "../var";

.h3 {
  font-size: 18px;
  line-height: 1.2em;
  margin: 0 10px 0 0;
  @media (max-width: $breakPoint-4) {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.tabs {
  display: flex;
  align-items: center;
  margin: 15px 0;
  @media (max-width: $breakPoint-4) {
    flex-wrap: wrap;
  }
}